.charts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chart1-title {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
}

.recharts-default-legend {
  padding-left: 50px !important;
 }

 .detail-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5rem 8rem;
  padding: 6rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
 }

 .insight-section {
  margin: 15px 0;
  padding: 0 2rem;
}

.key-insight {
  padding: 0 3rem;
  /* margin-top: 20px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px; */
}